[Unit]
Description=rfparty monitor service

[Service]
Type=forking
User=root
ExecStart=/usr/lib/rfparty-monitor/scripts/start-snif.sh

[Install]
WantedBy=multi-user.target
