[Unit]
Description=rfparty monitor service

[Service]
Type=forking
User=ubuntu
ExecStart=/home/ubuntu/rfparty-monitor/scripts/start-snif.sh

[Install]
WantedBy=multi-user.target
